h3 , h2{
    display : inline;
    background-color: aqua;
}
span[id="spam"]{
    display: block;
    background-color: gray;
}
span[id="hi"]{
    background-color: lime;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 10px;
}
div[id="hello"]{
    background-color: lime;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 10px;
}

/* span id = hi mai mai padding and margin sirf left and right side mai set hui baki padding uper neeche nhi hui
and heignt width set nhi hui bilkul bhi span mai  id =hi mai
lekin div mai sb set hua hai
*/
div[class="hi"]{
    background-color: lime;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 10px;
    display: inline-block;
}