/* transform properties */

/* Basic div creation kri hai abhi*/
section{
    margin-top: 100px;

}
section div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
section div:nth-of-type(2n){
    background-color: #f7db6a;
}
section div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* transform rotate*/
#one{
    transform: rotate(180deg);
}
/*transform scale*/
#two{
    /*transform: scale(.5);*/
    transform: scale(3,.5);
}

/*transform tanslate*/
#three{
    transform: translate(300px,500px);
}
/*transform skew*/
#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg) translateX(100px) skew(-30deg) scaleX(.5);

}